@font-face {
    font-family: 'Golos';
    src: url('../fonts/Golos_Text/GolosText-Bold.ttf');
    font-weight: 700;
}
@font-face {
    font-family: 'Golos';
    src: url('../fonts/Golos_Text/GolosText-SemiBold.ttf');
    font-weight: 600;
}
@font-face {
    font-family: 'Golos';
    src: url('../fonts/Golos_Text/GolosText-Regular.ttf');
    font-weight: 400;
}
@font-face {
    font-family: 'Golos';
    src: url('../fonts/Golos_Text/GolosText-Medium.ttf');
    font-weight: 500;
}

@font-face {
    font-family: 'Merriweather';
    src: url('../fonts/Merriweather/Merriweather-Bold.ttf');
    font-weight: 700;
}
@font-face {
    font-family: 'Merriweather';
    src: url('../fonts/Merriweather/Merriweather-Regular.ttf');
    font-weight: 400;
}